@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar las flechas de incremento y decremento en input de tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) rgb(32, 32, 32);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}

@layer components {
  .Barra {
    @apply container py-2 px-2 md:px-20 flex items-center mx-auto justify-between text-white;
  }

  .Titulo {
    @apply text-lime-300;
  }

  .Input {
    @apply rounded-sm bg-gray-800 text-sm px-2;
  }

  .Select {
    @apply rounded-sm bg-gray-800 text-sm px-1;
  }

  .Button {
    @apply border-[1px] border-white py-1 px-4 rounded-md text-xs hover:bg-white hover:text-black hover:font-bold;
  }

  .Seleccionado {
    @apply text-orange-500 font-semibold;
  }

  .Hr {
    @apply opacity-20 my-1;
  }

  .MsjExito {
    @apply text-sm text-lime-300;
  }

  .MsjFallo {
    @apply text-xs md:text-sm text-orange-600 font-semibold antialiased;
  }

  .Alerta {
    @apply text-orange-400;
  }

  .Desvanecer {
    @apply animate-fade animate-once animate-duration-[2000ms] animate-reverse;
  }

  .Border-r {
    @apply border-r-[1px] border-orange-400 border-opacity-30;
  }

  .Border-l {
    @apply border-l-[1px] border-orange-400 border-opacity-30;
  }

  .Card {
    @apply border-[1px] rounded-md border-dashed border-orange-400 border-opacity-30 p-3 my-5;
  }

  .Etiqueta {
    @apply text-sm border-[1px] rounded-md border-dashed border-orange-400 border-opacity-20 py-1 px-2;
  }
}
